/*------------------------------------*\
    # Hero
\*------------------------------------*/


// Hero Info

.hero {
    position: relative;
}

.hero-info {
    grid-column: 1 / - 1;

    .shape:nth-child(1)::after {
        bottom: 4rem;
        left: -8rem;
    }

    .shape:nth-child(2)::after {
        top: 0;
        right: -8.3rem;
    }

    @media ( min-width: $breakpoint-medium ) {
        grid-column: 1 / 7;
    }
}

.hero-info__title {
    margin: 0 0 1.5rem 0;
    font-family: $font-family-secondary;
    font-size: 5.2rem;
    line-height: 6.2rem;
    font-weight: $font-weight-bold;
    color: $black;

    @media ( min-width: $breakpoint-medium ) {
        font-size: 5.8rem;
        line-height: 7rem;
    }
}

.hero-info__subtitle {
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.9rem;
    color: $gray;

    @media ( min-width: $breakpoint-medium ) {
        font-size: 2.2rem;
        line-height: 2.6rem;
    }
}

.hero-info__text {
    margin: 3rem 0 6rem 0; 
    font-size: 1.6rem;
    line-height: 2.9rem;
    color: $gray;
}



// Hero Image

.hero-img {
    .shape:nth-child(1)::after {
        bottom: -4rem;
        left: -6.5rem;
    }

    .shape:nth-child(2)::after {
        bottom: 10rem;
        right: -7.4rem;
    }

    img {
        display: none;

        @media ( min-width: $breakpoint-medium ) {
            display: block;
        }
    }

    @media ( min-width: $breakpoint-medium ) {
        grid-column: 7 / -1;
    }
}