/*------------------------------------*\
    # Instagram Feed
\*------------------------------------*/

.instagram-feed__item {
    img {
        height: 31.4rem;
        object-fit: cover;
        border-radius: .6rem;
    }
}

.slick-slide {
    padding: 0 15px;
}
