/*------------------------------------*\
    # Blog Sidebar - Instagram Feed
\*------------------------------------*/


.blog-sidebar-instagram-feed {
    margin-top: 6rem;
}

.blog-sidebar-instagram-feed__list {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( 10rem, 1fr ) );
    grid-auto-rows: 10rem;
    grid-gap: 2rem;

    .instagram-feed-item__icon {
        width: 2.4rem;
        height: 2.4rem;
    }
}