/*------------------------------------*\
    # Article Preview
\*------------------------------------*/

.article-preview:not( :last-child ) {
    margin: 0 0 8rem 0;
}

.article-preview__meta {
    margin: 2rem 0 0 0;
    display: flex;
    align-items: center;
}

.article-preview__categories {
    @include list-unstyled;

    li {
        @include dot-pseudo( $color: $primary-light, $margin: 0 1.5rem );
    }
}

.article-preview__category {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $primary;

    transition: all $transition-base;

    &:hover,
    &:focus {
        color: darken( $primary, 13% );
    }
}

.article-preview__date {
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    color: $off-gray;
}

.article-preview__heading {
    display: inline-block;
    margin: 3rem 0;
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
    font-size: 2.6rem;
    line-height: 3.1rem;

    transition: $transition-base;

    a {
        text-decoration: none;
        color: $black;
    }

    &:hover,
    &:focus {
        color: lighten( $black, 13% );
    }
}

.article-preview__content {
    font-size: 1.6rem;
    line-height: 2.9rem;
    color: $gray;

    p:first-child {
        margin: 0;
    }
}

.article-preview__readmore {
    margin: 4rem 0 0 0;
}