/*------------------------------------*\
    # Navigation
\*------------------------------------*/


.hamburger-menu {
    appearance: none;
    outline: none;
    line-height: 0;
    -webkit-tap-highlight-color: transparent;

    @media ( min-width: $breakpoint-medium ) {
        display: none;
    }
}

.navigation__inner {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    right: 0;
    z-index: 99;
    padding: 4rem;
    background: $white;

    transition: all $transition-base;

    &.active {
        left: 0%;
    }

    button {
        margin: 2rem 0 0 0;
    }

    @media ( min-width: $breakpoint-medium ) {
        position: static;
        padding: 0;

        .navigation__button {
            display: none;
        }
    }
}