/*------------------------------------*\
    # Mixins
\*------------------------------------*/

@mixin list-unstyled {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

@mixin dot-pseudo ( $color, $margin, $width: .6rem, $height: .6rem ) {
    &::after {
        content: '';
        position: relative;
        bottom: 1px;
        display: inline-block;
        margin: $margin;
        width: $width;
        height: $height;
        background: $color;
        border-radius: 50%;
    }
}

@mixin dotted-shapes ( $rotate: 0deg ) {
    &::after,
    &::before {
        content: url( '../images/dots.svg');
        position: absolute;
        z-index: -1;
        transform: rotate( $rotate );
    }

    @content;
}