/*------------------------------------*\
    # Variables
\*------------------------------------*/


// Fonts
@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=latin-ext');

$font-family-primary: 'Karla', sans-serif;
$font-family-secondary: 'Rubik', sans-serif;

// Fonts - Weights
$font-weight-normal: 400;
$font-weight-bold: 700;


// Colors
$primary: #2F52E0;
$black: #223843;

$white: #FFFFFF;
$gray: #B4B4B5;


// Other
$border-radius: .6rem;
$transition-base: 200ms ease-in-out;



//$secondary: #617663;
