/*------------------------------------*\
    # Footer
\*------------------------------------*/


.footer {
    margin-bottom: 6rem;

    .site-logo__img {
       width: 80%;
    }
}

.footer__inner {
    @media ( min-width: $breakpoint-small ) {
        display: flex;
        align-items: center;
    }
}

.footer__copyright {
    margin: 2rem 0;
    color: $gray;   

    p {
        margin: 0;
    }

    @media ( min-width: $breakpoint-small ) {
        flex: 1;
        margin: 2rem 0 2rem 4rem;
    }
}