/*------------------------------------*\
    # Article
\*------------------------------------*/


.article__header {
    grid-column: 1 / -1;
}

.article__title {
    text-align: center;
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
    font-size: 4rem;
    line-height: 4.8rem;
    margin: 0;

    @media ( min-width: $breakpoint-medium ) {
        font-size: 4.5rem;
        line-height: 5.4rem;
    }

    a {
        text-decoration: none;
        color: $black;

        transition: all $transition-base;

        &:hover,
        &:focus {
            color: lighten( $black, 13% );
        }
    }
}

.article__meta {
    margin: 2.5rem 0 0 0;
    display: flex;
    justify-content: center;
}

.article__categories {
    @include list-unstyled;

    li {
        @include dot-pseudo( $color: $primary-light, $margin: 0 1.5rem );
    }
}

.article__category {
    text-decoration: none;
    color: $primary;
    font-weight: $font-weight-bold;

    transition: all $transition-base;

    &:hover,
    &:focus {
        color: darken( $primary, 13% );
    }
}

.article__date {
    color: $gray;
    font-weight: $font-weight-bold;
}

.article__featured-img {
    grid-column: 1 / -1;
    margin: 6rem 0 0 0;
    
    img {
        border-radius: $border-radius;
        width: 100%;
        height: 460px;
        object-fit: cover;
    }
}

.article__content {
    grid-column: 2 / -2;
    margin: 6rem 0 0 0;

    h1, h2, h3, h4, h5, h6 {
        font-family: $font-family-secondary;
        font-weight: $font-weight-bold;
        color: $black;
        margin: 6rem 0 2rem 0;
    }

    h1 {
        font-size: 4rem;
        line-height: 4.8rem;

        @media ( min-width: $breakpoint-medium ) {
            font-size: 4.5rem;
            line-height: 5.4rem;
        }
    }

    h2 {
        font-size: 3.3rem;
        line-height: 4rem;

        @media ( min-width: $breakpoint-medium ) {
            font-size: 3.7rem;
            line-height: 4.4rem;
        }
    }

    h3 {
        font-size: 2.8rem;
        line-height: 3.4rem;

        @media ( min-width: $breakpoint-medium ) {
            font-size: 3.1rem;
            line-height: 3.7rem;
        }
    }

    h4 {
        font-size: 2.3rem;
        line-height: 2.8rem;

        @media ( min-width: $breakpoint-medium ) {
            font-size: 2.6rem;
            line-height: 3.1rem;
        }
    }

    h5 {
        font-size: 1.9rem;
        line-height: 2.3rem;

        @media ( min-width: $breakpoint-medium ) {
            font-size: 2.2rem;
            line-height: 2.6rem;
        }
    }

    h6 {
        font-size: 1.6rem;
        line-height: 1.9rem;

        @media ( min-width: $breakpoint-medium ) {
            font-size: 1.8rem;
            line-height: 2.2rem;
        }
    }

    p {
        color: $gray;
        font-size: 1.6rem;
        line-height: 2.9rem;
        margin: 0 0 4rem 0;

        &:last-child {
            margin-bottom: 0;
        }

        @media ( min-width: $breakpoint-medium ) {
            font-size: 1.8rem;
            line-height: 3.2rem;
        }
    }

    ul, ol {
        color: $primary-light;
        margin: 4rem 0 4rem 0;
 
        li {
            font-size: 1.6rem;
            line-height: 2rem;

            &:not( :last-child ) {
                margin: 0 0 1.5rem 0;
            }

            span {
                color: $gray;                
            }

            @media ( min-width: $breakpoint-medium ) {
                font-size: 1.8rem;
                line-height: 2.2rem;
            }
        }
    }

    blockquote {
        position: relative;     
        margin: 6rem 0 6rem 8rem;

        &::before {
            content: url( '../images/icons/quote.svg' );
            position: absolute;
            left: -8rem;

            @media ( min-width: $breakpoint-medium ) {
                position: absolute;
                left: -8rem;
            }
        }

        p {
            font-weight: $font-weight-bold;
            font-size: 2.2rem;
            line-height: 3.7rem;
            color: $off-gray;

            @media ( min-width: $breakpoint-medium ) {
                font-size: 2.6rem;
                line-height: 4.4rem;
            }
        }

        cite {
            font-size: 1.6rem;
            font-weight: $font-weight-bold;
            color: $primary-light;
            
            &::before {
                content: '-';
                margin-right: 1rem;
            }

            @media ( min-width: $breakpoint-medium ) {
                font-size: 1.8rem;
            }
        }

        @media ( min-width: $breakpoint-medium ) {
            margin: 6rem 0 6rem 12rem;
        }
    }

    img {
        border-radius: $border-radius; 
     }
 
     figure {
         margin: 6rem 0 6rem 0;
 
         img {
            object-fit: cover;
         }
 
         figcaption {
             text-align: center;
             color: $off-gray;
             font-weight: $font-weight-bold;
             font-style: italic;
             margin: 2rem 0 0 0;
         }
     }
}

.article__footer {
    grid-column: 2 / -2;
}

.article__tags {
    @include list-unstyled;

    li {
        display: inline-block;

        &:not( :last-child ) {
            margin: 0 1rem 1.5rem 0;
        }
    }
}

.article__share {
    display: flex;
    align-items: center;
    margin: 4rem 0;
}

.article__share-heading {
    font-family: $font-family-secondary;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: $off-gray;
    margin: 0 2.5rem 0 0;
}

.article__share-links {
    @include list-unstyled;

    li {
        display: inline-block;

        &:not( :last-child ) {
            margin: 0 2rem 0 0;
        }
    }

    a {
        color: $black;
        
        transition: all $transition-base;

        &:hover,
        &:focus {
            color: $primary;
        }
    }
}