/*------------------------------------*\
    # Recent Articles
\*------------------------------------*/


.recent-articles {
    margin-bottom: 80rem;

    .section-heading {
        grid-column: 1 / -1;
    }

    .recent-article {
        grid-column: span 4;
    }
}

.recent-article__img {
    border-radius: $border-radius;
}

.recent-article__meta {
    margin: 2rem 0 0 0;
}

.recent-article__category {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $primary;
}

.recent-article__heading {
    text-decoration: none;
    margin: 2rem 0;
    font-family: $font-family-secondary;
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: $font-weight-bold;
    color: $black;

    transition: $transition-base;

    &:hover,
    &:focus {
        color: lighten( $black, 10% );
    }
}

.recent-article__date {
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    color: $off-gray;
}