/*------------------------------------*\
    # Buttons
\*------------------------------------*/


.button {
    margin: 0 0 0 0;
    padding: 1.2rem 2rem;
    display: inline-block;
    font-family: $font-family-primary;
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    border-radius: $border-radius;
    text-transform: uppercase;
    transition: all $transition-base;

    &:not(:last-of-type ) {
        margin: 0 2rem 2rem 0;
    }

    @media ( min-width: $breakpoint-medium ) {
        font-size: 1.6rem;
        padding: 1.5rem 2.5rem;
    }
}

.button--primary {
    background: $primary;
    color: $white;
    border: .1rem solid $primary;
    box-shadow: 0rem 1rem 1rem -1rem $primary;

    &:hover,
    &:focus {
        box-shadow: none;
        background: none;
        color: $primary;
        border: .1rem solid $primary;
    }
}

.button--secondary  {
    background: $white;
    color: $primary;
    border: .1rem solid $white;
    box-shadow: 0rem 1rem 1rem -1rem $black;

    &:hover,
    &:focus {
        box-shadow: none;
        background: none;
        color: $white;
        border: .1rem solid $white;
    }
}

.button--outline-primary {
    border: .1rem solid $primary;
    color: $primary;

    &:hover,
    &:focus {
        background: $primary;
        color: $white;
        box-shadow: 0rem 1rem 1rem -1rem $primary;
    }
}