/*------------------------------------*\
    # Cards
\*------------------------------------*/


.card {
    padding: 4rem;
    background: $white;
    border-radius: $border-radius;
    box-shadow: .1rem .4rem 2rem .1rem transparentize( #A9B1D1, 0.75 );

    transition: all $transition-base;

    &:hover,
    &:focus {
        transform: scale( 1.05 );
    }
}

.card--testimonials {
    .card__meta {
        justify-content: center;
    }

    .card__icon {
        width: 6rem;
        height: 6rem;
    }

    .card__text {
        font-style: italic;
        p {
            quotes: "“ " " ”" " ‘" " ’";

            &::before {
                content: open-quote;
            }

            &::after {
                content: close-quote;
            }
        }
    }
}

.card--onepage {
    grid-column: span 12;

    margin: 0 0 4rem 0;

    @media ( min-width: $breakpoint-small ) {
        grid-column: span 6;
    }
    
    @media ( min-width: $breakpoint-large ) {
        grid-column: span 4;
    }
}

.card__meta {
    display: flex;
    justify-content: space-between;
    margin: 0 0 4rem 0;
}

.card__number {
    font-family: $font-family-secondary;
    font-size: 4.2rem;
    font-weight: $font-weight-bold;
    color: $primary;
    opacity: .3;
}

.card__icon {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
}

.card__title {
    font-family: $font-family-secondary;
    font-size: 2.6rem;
    font-weight: $font-weight-bold;
    line-height: 2.9rem;
    margin: 0;
    color: $black;   
}

.card__text {
    color: $gray;
    line-height: 2.6rem;

    p {
        margin: 2rem 0 0 0;
    }
}

.card__footer {
    display: flex;
    margin: 4rem 0 0 0;

    img {
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        border-radius: 50%;
    }
}

.card__person {
    margin: 0 0 0 2rem;
}

.card__person-name {
    margin: 0;
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
    font-size: 1.4rem;
    color: $black;
}

.card__person-career {
    margin: 0;
    font-family: $font-family-secondary;
    font-size: 1.2rem;
    color: $gray;

    strong {
        font-weight: $font-weight-medium;
    }
}

