/*------------------------------------*\
    # Feed Item
\*------------------------------------*/


.feed-item:not( :last-child ) {
    margin: 0 0 8rem 0;
}

.feed-item__featured-img {
    border-radius: $border-radius;
    width: 100%;
    cursor: pointer;
    height: 25rem;
    transition: all $transition-base;

    &:hover,
    &:focus {
        opacity: .8;
    }

    @media ( min-width: $breakpoint-small ) {
        height: 42rem;
    }
}


.feed-item__meta {
    margin: 2rem 0 0 0;
    display: flex;
    align-items: center;
    line-height: 1;
}

.feed-item__categories {
    @include list-unstyled;

    li {
        @include dot-pseudo( $color: $primary-light, $margin: 0 1.5rem );
    }
}

.feed-item__category {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: $primary;

    transition: all $transition-base;

    &:hover,
    &:focus {
        color: darken( $primary, 13% );
    }

    @media ( min-width: $breakpoint-medium ) {
        font-size: 1.6rem;
    }
}

.feed-item__date {
    font-size: 1.4rem;
    font-weight: $font-weight-bold;
    color: $off-gray;

    @media ( min-width: $breakpoint-medium ) {
        font-size: 1.6rem;
    }
}

.feed-item__heading {
    display: inline-block;
    margin: 3rem 0;
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
    font-size: 2.6rem;
    line-height: 3.1rem;

    a {
        text-decoration: none;
        color: $black;
        
        transition: $transition-base;

        &:hover,
        &:focus {
            color: lighten( $black, 13% );
        }
    }

    @media ( min-width: $breakpoint-medium ) {
        font-size: 3.2rem;
        line-height: 3.8rem;    
    }
}

.feed-item__content {
    font-size: 1.6rem;
    line-height: 2.9rem;
    color: $gray;

    p:first-child {
        margin: 0;
    }
}

.feed-item__read-more {
    margin: 4rem 0 0 0;

    @media ( min-width: $breakpoint-medium ) {
        margin: 6rem 0 0 0;
    }
}