/*------------------------------------*\
    # Form
\*------------------------------------*/

.form__group {
    position: relative;
    margin: 0 0 2rem 0;
    line-height: 0;
}

.form__control {
    appearance: none;
    outline: none;
    box-shadow: none;
    border: .1rem solid $input-border-color;
    border-radius: $border-radius;
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    width: 100%;
    color: $black;

    transition: all $transition-base;

    @at-root textarea#{&} {
        height: 18rem;
        resize: vertical;
    }

    &::placeholder {
        color: $gray;
    }

    &.error {
        border-color: $error;
    }

    &.success {
        border-color: $success;
    }

    @media ( min-width: $breakpoint-medium ) {
        font-size: 1.4rem;
    }
}

.form__meta {
    margin: 2rem 0 0 0;
    text-align: right;

    @media ( min-width: $breakpoint-medium ) {
        margin: 4rem 0 0 0;
    }
}

.form__response {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 100%;
    border-radius: 0 .3rem .3rem 0;

    svg {
        color: $white;
    }
}

.form__response--error {
    background: $error;
}

.form__response--success {
    background: $success;
}

.form__error-message {
    margin: -1.5rem 0 1.5rem 0;
    color: $error;
}

.form__submitted {
    margin: 8rem 0 0 0;
}

.form__submitted-heading {
    font-size: 3rem;
    font-weight: $font-weight-bold;
    font-family: $font-family-secondary;
    margin: 0;
    color: $error;
}

.form__submitted-text {
    color: $gray;

    p {
        margin: 1rem 0;
        line-height: 1.8;
    }
}

.form__submitted--success {
    .form__submitted-heading {
        color: $success;
    }
}

.form__submitted--error {
    .form__submitted-heading {
        color: $error;
    }
}

.form__hidden {
    display: none;
}