/*------------------------------------*\
    # Form
\*------------------------------------*/

.form__group {
    margin: 0 0 2rem 0;
}

.form__control {
    appearance: none;
    outline: none;
    box-shadow: none;
    border: .1rem solid $input-border-color;
    border-radius: $border-radius;
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
    width: 100%;
    color: $black;

    @at-root textarea#{&} {
        height: 18rem;
        resize: vertical;
    }

    &::placeholder {
        color: $gray;
    }

    @media ( min-width: $breakpoint-medium ) {
        font-size: 1.4rem;
    }
}

.form__meta {
    margin: 2rem 0 0 0;
    text-align: right;

    @media ( min-width: $breakpoint-medium ) {
        margin: 4rem 0 0 0;
    }
}