/*------------------------------------*\
    # Heading
\*------------------------------------*/


.section-heading {
    grid-column: 1 / -1;
    margin: 0 0 4rem 0;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
    font-size: 3.4rem;
    color: $black;

    span {
        display: block;
        font-family: $font-family-primary;        
        font-size: 1.8rem;
        color: $gray;
    }


    @media ( min-width: 860px ) {
        font-size: 4.2rem;
    }
}