/*------------------------------------*\
    # Navigation
\*------------------------------------*/


.hamburger-menu {
    line-height: 0;
}

.navigation {
    grid-column: -1;
    align-self: center;
}

.navigation__inner {
    display: none;
}

