/*------------------------------------*\
    # Contact
\*------------------------------------*/


.contact-info {
    grid-column: 1 / -1;
    margin: 0 0 8rem 0;

    @media ( min-width: $breakpoint-small ) {
        grid-column: 1 / 7;
        margin: 0;
    }
}

.contact-info__heading {
    font-size: 2.6rem;
    line-height: 3.1rem;
    margin: 0 0 2rem 0;
    color: $black;

    @media ( min-width: $breakpoint-medium ) {
        font-size: 3.2rem;
        line-height: 3.8rem;
    }
}

.contact-info__text {
    margin: 0 0 4rem 0;
    color: $gray;
    
    p {
        line-height: 2.9rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}


.contact__featured {
    grid-column: 1 / -1;

    @media ( min-width: $breakpoint-small ) {
        grid-column: 8 / -1;
    }
}

.contact__featured-img {
    min-height: 67rem;
    border-radius: $border-radius;
} 

.contact__featured-wrap {
    position: relative;

    @include dotted-shapes( $rotate: 90deg ) {
        &::after {
            bottom: 0;
            right: -3.5rem;
        }

        &::before {
            top: 0;
            left: -4.5rem;
        }
    }
}