/*------------------------------------*\
    # Instagram Feed
\*------------------------------------*/

.instagram-feed {
    .slick-track { 
        display: flex !important; 
    } 
    
    .slick-slide { 
        height: inherit !important; 
        display: flex !important; 
        justify-content: center; 
        align-items: center; 
        padding: 0 .6rem;
    } 

    .slick-slide > div {
        height: 100%;
    }

    img {
        object-fit: cover;
        border-radius: .6rem;
        height: inherit;
    }

    
    .slick-dots {
        position: static;
        margin: 2rem 0 0 0;
    
        li {
            &.slick-active {
                button::before {
                    background: $primary;
                }
            }
    
            button::before {
                content: '';
                border: .1rem solid $primary;
                border-radius: 50%;
                width: 1.6rem;
                height: 1.6rem;
                transition: all $transition-base;
            }
        }
    }

    .slick-arrow {
        &.slick-prev {
            left: -50px;
        }
    
        &.slick-next {
            right: -50px;
        }
    
        &::before {
            font-size: 2rem;
            color: $primary;
            transition: all $transition-base;
        }
    }
}