/*------------------------------------*\
    # Newsletter CTA
\*------------------------------------*/


.newsletter-form {
    max-width: 340px;
    margin: 0 auto;
}

.newsletter-form__group {
    display: flex;
}

.newsletter-form__control {
    background: none;
    outline: none;
    border: .1rem solid $white;
    padding: 1.2rem;
    width: 100%;
    font-size: 1.2rem; 
    border-radius: $border-radius 0 0 $border-radius;
    color: $white;
    
    &::placeholder {
        color: $white;
    }

    @media ( min-width: $breakpoint-small ) {
        padding: 1.5rem 2.5rem;
    }
}

.newsletter-form__button {
    width: auto;
    border-radius: 0 $border-radius $border-radius 0;
    border-left: 0;
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    background: $white;
    color: $primary;

    transition: all $transition-base;

    &:hover,
    &:focus {
        background: none;
        color: $white;
    }
}