/*------------------------------------*\
    # Base
\*------------------------------------*/


* {
    box-sizing: border-box;  
}

::selection {
    background: lighten( red, 40% );
}

html {
    font-size: 62.5%; 
    height: 100%;
}

body {
    color: red;
    font-family: $font-family-primary;
    font-size: 1.6rem;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
}

button:disabled {
    cursor: default;
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.heart-symbol::before {
    content: '\2665';
    color: red;
    font-style: normal;
}

.shape::before {
    content: '';
    background: url( '../images/dots.svg') no-repeat;
    display: inline-block;
    width: 10rem;
    height: 6rem;

    position: absolute;
}

.section-heading {
    margin-bottom: 6rem;
    text-transform: uppercase;
    text-align: center;
    font-family: $font-family-secondary;
    font-weight: $font-weight-bold;
    font-size: 4.2rem;
    color: $black;

    span {
        display: block;
        font-family: $font-family-primary;
        font-size: 1.8rem;
        color: $gray;
    }
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3.6rem;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat( 12, 1fr );
    grid-gap: 2rem;
}



.overlay {
    display: none;
}


// udelej mixin s css grid nastavenimi a vzdy to includni do daneho obalovaciho elementu a tam si udelej template areas.
// nedelej to komplet pro celou stranku












































/*

.container {
    display: grid;
    grid-template-columns: repeat( 12, 1fr );
    grid-gap: 20px;
    grid-template-areas:
    "logo logo logo navigation navigation"
    "nav nav main main"
    "aside aside main main"
    "section section section section"
    "section section section section"
    "footer footer footer footer";

    max-width: 1280px;
    margin: 0 auto;
    padding: 0 3.6rem;
}

*/





